.container{
   width:90%;
   margin:auto;
}
.main{
   display:flex;
}
.login{
	margin-top:9rem;  
}
.img{
   width:50%;
}
.button{
	background-color:green;
	width:100%;
	margin-top:1rem;
	border-color:green;
	color:white;
	padding:.5rem;
}
.signUp{
	margin-top:10rem;
	text-align:center;
}
.for{
	text-align:center;
}
.insta{
	text-align:center;
}
